<form>
  <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Enter name" [(ngModel)]="actorName" name="actor-name">
  </div>
  <div class="form-group">
    <label for="inputNationality">Nationality</label>
    <input type="text" class="form-control" id="inputNationality" placeholder="Nationality">
  </div>
  <div class="form-group">
    <label for="inputBornDate">Born Date</label>
    <input type="date" class="form-control" id="inputBornDate" placeholder="Born Date">
  </div>
  <div class="form-group">
    <label for="inputGenre">Genre</label>
    <input type="text" class="form-control" id="inputGenre" placeholder="Genre">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
