<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link "
      id="pills-actors-tab"
      data-toggle="pill"
      href="#pills-actors"
      role="tab"
      aria-controls="pills-actors"
      [routerLink]="[ '/create/actor' ]"
      routerLinkActive="router-link-active"
      aria-selected="true">Actor</a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="pills-movies-tab"
      data-toggle="pill"
      href="#pills-movies"
      [routerLink]="[ '/create/movie' ]"
      role="tab"
      routerLinkActive="router-link-active"
      aria-controls="pills-movies"
      aria-selected="false">Movie</a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="pills-categories-tab"
      data-toggle="pill"
      href="#pills-categories"
      [routerLink]="[ '/create/category' ]"
      role="tab"
      routerLinkActive="router-link-active"
      aria-controls="pills-categories"
      aria-selected="false">Category</a>
  </li>
</ul>
<app-tabs-container></app-tabs-container>
