<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link"
      id="pills-actors-tab"
      data-toggle="pill"
      href="#pills-actors"
      role="tab"
      aria-controls="pills-actors"
      [routerLink]="[ '/read/actors' ]"
      aria-selected="true">Actors</a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="pills-movies-tab"
      data-toggle="pill"
      href="#pills-movies"
      role="tab"
      [routerLink]="['/read/movies']"
      aria-controls="pills-movies"
      aria-selected="false">Movies</a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="pills-categories-tab"
      data-toggle="pill"
      href="#pills-categories"
      role="tab"
      [routerLink]="[ '/read/categories' ]"
      aria-controls="pills-categories"
      aria-selected="false">Categories</a>
  </li>
</ul>
<app-tabs-container></app-tabs-container>
