<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <figure class="logo-img">
    <a [routerLink]="[ '/home']">
      <img src="/assets/gala.png" alt="logo">
    </a>
  </figure>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active" routerLinkActive="active">
      <a class="nav-link" [routerLink]="[ '/create' ]">Create</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="[ '/read']">Read</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="[ '/update']">Update</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="[ '/delete']">Delete</a>
    </li>
  </ul>
  <app-buscador></app-buscador>
</div>
</nav>
